body {
    background-color: #63fd1c;
    display: flex;
    flex-direction: column;
    align-items: center;
}
table,th,td {
    width:500px;
    margin:auto;
    font-size: large;
    padding: 10px;
    text-align: center;
    border: 1px solid;
    border-color: rgb(0, 59, 238);
    background-color: rgb(94, 91, 91);
}